@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Tenor+Sans&display=swap');

body {
	font-family: "Tenor Sans", Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
}
.img-collagen {
	max-width: inherit;
	max-height: none;
	height: auto;
}